In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [6]:
#violations_list = pd.read_csv("Codes' List of Violations 15 aug 2017-2.csv")

In [7]:
#violations_list

In [8]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Nashville')
df = pd.read_sql_query("SELECT * FROM violation_codes", engine)
df.head(5)

,violation_id,org_id,violation_type,violation_desc,violation_text,remedial_text,table_name,expired_flag,date_expired,created_by,date_created,modified_by,date_modified,fee_setup_id
0,1,1,BANNERS,Banners,Section 17.32.060 & 17.32.070 - Banners: Bann...,CAAZ_BANNERS,NULL,N,NULL,1,03:52.6,NULL,NULL,NULL
1,2,1,BGMATOWNER,Proper Maintenance Req - Owner,Section 16.16.030 (B) - Proper maintenance req...,CAAH_BG_MATOWNER,NULL,N,NULL,1,03:52.6,NULL,NULL,NULL
2,4,1,BLDGMAINT,Proper Maintenance Req,Section 16.16.030 (A) - Proper maintenance req...,CAAH_BLDG_MAINT,NULL,N,NULL,1,03:52.6,NULL,NULL,NULL
3,5,1,BLDGPERMIT,Building Permit Required,Section 16.28.010 - Building Permit Required: ...,CAAB_BLDG_PERMIT,NULL,N,NULL,1,03:52.6,NULL,NULL,NULL
4,6,1,BLDGSCOPE,Scope of Building Code,Section 16.16.020 (B) - The provisions of this...,CAAH_BLDG_SCOPE,NULL,N,NULL,1,03:52.6,NULL,NULL,NULL