In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
#engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Nashville')
violation_types_df = pd.read_sql_query("SELECT * FROM violation_codes", engine)

In [5]:
violation_types_df.query('violation_id == "-"').head(5)

,violation_id,org_id,violation_type,violation_desc,violation_text,remedial_text,table_name,expired_flag,date_expired,created_by,date_created,modified_by,date_modified,fee_setup_id
60,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
155,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
238,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
322,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
324,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None

In [6]:
violation_types_df.query('violation_id == "-"').tail(5)

,violation_id,org_id,violation_type,violation_desc,violation_text,remedial_text,table_name,expired_flag,date_expired,created_by,date_created,modified_by,date_modified,fee_setup_id
697,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
699,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
701,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
703,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None
705,-,NULL,NULL,N,NULL,2,00:00.0,NULL,NULL,NULL,None,None,None,None

In [7]:
dropabledf = violation_types_df.query('violation_type == "NULL" and violation_desc == "N" and violation_text == "NULL"')
dropabledf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 15 to 926
Data columns (total 14 columns):
violation_id      131 non-null object
org_id            137 non-null object
violation_type    137 non-null object
violation_desc    137 non-null object
violation_text    137 non-null object
remedial_text     137 non-null object
table_name        137 non-null object
expired_flag      137 non-null object
date_expired      137 non-null object
created_by        137 non-null object
date_created      0 non-null object
modified_by       0 non-null object
date_modified     0 non-null object
fee_setup_id      0 non-null object
dtypes: object(14)
memory usage: 16.1+ KB

In [8]:
dropabledf.index

Int64Index([ 15,  60, 155, 238, 322, 324, 380, 400, 414, 416,
            ...
            708, 896, 903, 906, 908, 914, 917, 920, 923, 926],
           dtype='int64', length=137)

In [9]:
cleaned_df1 = violation_types_df.drop(dropabledf.index)

In [10]:
cleaned_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 0 to 933
Data columns (total 14 columns):
violation_id      797 non-null object
org_id            788 non-null object
violation_type    788 non-null object
violation_desc    788 non-null object
violation_text    775 non-null object
remedial_text     651 non-null object
table_name        651 non-null object
expired_flag      651 non-null object
date_expired      651 non-null object
created_by        651 non-null object
date_created      651 non-null object
modified_by       651 non-null object
date_modified     651 non-null object
fee_setup_id      651 non-null object
dtypes: object(14)
memory usage: 93.4+ KB

In [11]:
vid_series = cleaned_df1.violation_id

In [12]:
vid_series.apply(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
5      <class 'str'>
6      <class 'str'>
7      <class 'str'>
8      <class 'str'>
9      <class 'str'>
10     <class 'str'>
11     <class 'str'>
12     <class 'str'>
13     <class 'str'>
14     <class 'str'>
16     <class 'str'>
17     <class 'str'>
18     <class 'str'>
19     <class 'str'>
20     <class 'str'>
21     <class 'str'>
22     <class 'str'>
23     <class 'str'>
24     <class 'str'>
25     <class 'str'>
26     <class 'str'>
27     <class 'str'>
28     <class 'str'>
29     <class 'str'>
30     <class 'str'>
           ...
895    <class 'str'>
897    <class 'str'>
898    <class 'str'>
899    <class 'str'>
900    <class 'str'>
901    <class 'str'>
902    <class 'str'>
904    <class 'str'>
905    <class 'str'>
907    <class 'str'>
909    <class 'str'>
910    <class 'str'>
911    <class 'str'>
912    <class 'str'>
913    <class 'str'>
915    <class 'str'>
916    <class 'str'>
918    <class 'str'>
919    <class 'str'>
921    <class 'str'>
922    <class 'str'>
924    <class 'str'>
925    <class 'str'>
927    <class 'str'>
928    <class 'str'>
929    <class 'str'>
930    <class 'str'>
931    <class 'str'>
932    <class 'str'>
933    <class 'str'>
Name: violation_id, Length: 797, dtype: object

In [13]:
vids_numeric = pd.to_numeric(vid_series, errors = 'coerce', downcast='integer')

In [14]:
vids_numeric

0        1.0
1        2.0
2        4.0
3        5.0
4        6.0
5        7.0
6        8.0
7        9.0
8       10.0
9       11.0
10      12.0
11      13.0
12      14.0
13      15.0
14      16.0
16      17.0
17      18.0
18      19.0
19      20.0
20      21.0
21      22.0
22      23.0
23      24.0
24      25.0
25      26.0
26      27.0
27      28.0
28      29.0
29      30.0
30      31.0
       ...
895    946.0
897    947.0
898      NaN
899      NaN
900      NaN
901      NaN
902      NaN
904    948.0
905    949.0
907    951.0
909    952.0
910    953.0
911    954.0
912    955.0
913      NaN
915    956.0
916    957.0
918    959.0
919      NaN
921    960.0
922    968.0
924    961.0
925    962.0
927    963.0
928    964.0
929    965.0
930    966.0
931    967.0
932    969.0
933    970.0
Name: violation_id, Length: 797, dtype: float64